.add-review {
    background-color: beige;
    width: 40vw;
    display: flex;
    flex-direction: column;
    padding:20px;
}

.add-review .details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.add-review textarea {
    width: 100%;
    height: 100px;
}